@font-face {
    font-family: 'Lato' ;
    src: url(../../assets/fonts/Lato-Light.ttf);
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1000px;
}

form {
    margin: 0;
}

* {
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

body {
	padding: 0;
	margin: 0;
	font-family: Lato;
	color: #000;
}

.content {
    width: 100%;
}

.article-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card-latest img{
    width: 100%;
    height: 150px;
    overflow: hidden;
    object-fit: cover;
}

.card-latest .card-overlay {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.card-latest .card-overlay:hover {
    opacity: 1;
}

.card-latest .card-overlay a h3 {
    margin: 0;
    padding: 5px 20px;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
}

.card-latest{
    width: 100%;
    display: inline-block;
}

.card-latest h1{
    width: calc(100% - 40px);
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    margin:  5px 0;
    margin-top: 10px;
    color: #595a5b;
}

.card-latest h6{
    height: 12px;
    opacity: 0.5;
    margin: 0;
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
}

.card-latest p{
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #595a5b;
    margin: 20px 0;
    text-align: justify;
    text-justify: inter-word;
}

.header {
    width: calc(100% - 40px);
    background: #f5f5f5;
    margin: 40px 0;
    padding: 20px;
}

.fa-sort-amount-down {
    font-size: 20px;
    color: #686868;
    margin-right: 5px;
    margin-left: 10px;
    float: left;
}

.dropdown {
    background: transparent;
    border: none;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
}

.dropdown:focus {
    outline: none;
    border: none;
}

.search {
    background: transparent;
    border: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    width: 150px;
}

.search:focus {
    outline: none;
    border: none;
}
.search-box {
    border: solid 1px #d4d4d4;
    border-radius: 50px;
    float: right;
    padding: 2px 10px;
    background-color: white;
}

.fa-search {
    color: #d4d4d4;
}

.fa-pen {
    font-size: 12px;
    color: white;
    display: inline-block;
    margin-right: 5px;
}
.new {
    float: left;
    background: #e06659;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.no-article {
    margin: 0 auto;
    width: 50%;
}

.no-article img {
    display: block;
    max-height: 200px;
    margin: 0 auto;
    opacity: 0.5;
}

.no-article h1 {
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: Lato;
    font-size: 40px;
    opacity: 0.7;
}

.no-article p {
    display: block;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    color: #868686;
}

.no-article p a {
    color: #e06659;
    cursor: pointer;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)  and (orientation: portrait) {
    .article-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)  and (orientation: landscape) {
    .article-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .article-list {
        grid-template-columns: 1fr;
    }
    .new {
        width: calc(100% - 20px);
        text-align: center;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .search-box {
        width: calc(100% - 20px);
        margin-top: 20px;
    }

    .search {
        width: calc(100% - 20px);
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .article-list {
        grid-template-columns: 1fr 1fr;
    }
}